{{> header }} {{> navbar }}

<div class="row">
    
    <div class="col-8">
        <h1>Acerca de nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae reiciendis libero labore quidem, nisi porro deserunt eveniet. Dolorem quas sed nisi sapiente laudantium dicta, obcaecati a! Labore dolore repellat earum.</p>
    </div>



    <div class="col-4">
        <img src="assets/images/imagen-celosia.jpg" alt="" class="img-thumbnail">
    </div>

</div>

{{> footer}}